#contact {
  background-color: var(--orange-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 10px;
  width: 50%;
  border-radius: 20px;
}
