* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column; */
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1d1f;
  position: relative;
  top: 100px;
  text-align: center;
  height: 100vh;
  /* padding: 50px 20px; */
}

nav {
  background-color: #1d1d1f;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-right: 20px;
}

.navigation {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fdfdfd;
}

.nav-link:hover {
  color: #bebebe;
  cursor: pointer;
}

h1 {
  line-height: 1;
  text-decoration: none;
}

p {
  line-height: 1;
  font-size: 16px;
  text-decoration: none;
  /* text-wrap: pretty; */
}

li {
  text-decoration: none;
  /* display: inline; */
  list-style-type: none;
}

li a {
  color: #fdfdfd;
}

#contact {
  background-color: orange;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 10px;
  width: 50%;
  border-radius: 20px;
}

footer {
  position: relative;
}
